* {
  box-sizing: border-box;
  margin: 0;
}

body {
  background-image: url('../assets/cave.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  min-height: 100vh;
  max-width: 100vw;
  border: 10px solid black;
}

h1 {
  text-align: center;
  color: white;
  font-size: 50px;
  margin-bottom: 5px;
  margin-top: 30px;
  font-family: 'Poppins', sans-serif;
  padding-top: 60px;
  padding-left: 10px;
  animation-duration: 5s;
  animation-name: slideinright;
}

h2 {
  text-align: center;
  font-size: 30px;
  padding-left: 10px;
  margin-bottom: 40px;
  margin-top: 5px;
  color: rgb(25, 117, 117);
  font-family: 'Work Sans', sans-serif;
  animation-duration: 5s;
  animation-name: slideinleft;
}

@keyframes slideinright {
  from {
    margin-left: 100%;
    width: 300%;
  }
}

@keyframes slideinleft {
  from {
    margin-right: 100%;
    width: 300%;
  }
}

/*!code for profile pic centered under heading-delete when completed if no longer needed*/
/* div img {
  width: 150px;
  height: auto;
  display: block;
  text-align: center;
  margin-right: auto;
  margin-left: auto;
} */

#experience i {
  font-size: 35px;
}

.experiencebox {
  display: flex;
  flex-direction: row;
  width: 700px;
  height: auto;
  padding-right: 0px;
}

.experiencebox ul {
  width: 250px;
  float: none;
  /* margin-left: 1rem; */
  padding: 20px 0px 20px 20px;
}

/* .experiencebox ul li {
  display: list-item;
  list-style-type: disc;
  line-height: normal;
  font-size: 14px;
  color: rgb(229, 220, 220);
  font-family: 'Montserrat', sans-serif;
}

.experiencebox .dates {
  list-style-type: none;
} */

.experiencebox .positions li {
  display: list-item;
  list-style-type: disc;
  line-height: normal;
  margin-left: 1rem;
  font-size: 14px;
  color: rgb(229, 220, 220);
  font-family: 'Montserrat', sans-serif;
}

.experiencebox .dates li {
  display: list-item;
  list-style-type: none;
  line-height: normal;
  margin-left: 0px;
  font-size: 14px;
  color: rgb(229, 220, 220);
  font-family: 'Montserrat', sans-serif;
}

li {
  display: inline-block;
  flex-direction: end;
  align-content: right;
  font-size: 17px;
  font-weight: bold;
  margin: auto;
  list-style: none;
}

ul {
  float: right;
  margin-top: 0px;
  margin-bottom: 0px;
}

a {
  text-decoration: none;
  color: white;
  font-family: 'Work Sans', sans-serif;
  padding-right: 15px;
}

a:hover {
  color: rgb(25, 117, 117);
  font-size: 30px;
  transition-duration: 0.5s;
}

i {
  font-size: 50px;
  padding-left: 25px;
  color: white;
}

h3 {
  font-size: 35px;
  margin-bottom: 2px;
  margin-left: 5px;
  font-weight: bold;
  color: white;
  font-family: 'Work Sans', sans-serif;
}

#about i {
  font-size: 35px;
}

#aboutbox {
  display: flex;
  flex-direction: row;
  max-width: 1400px;
  height: auto;
  margin-right: -15px;
  margin-left: -15px;
  margin-bottom: 100px;
}

#aboutbox img {
  /* padding: 40px 0px 40px 0px; */
  margin: 40px 0px 20px 150px;
  height: 200px;
  width: auto;
  border-radius: 100%;
  /* border: 5px solid rgb(25, 117, 117); */
}

#aboutbox p {
  padding: 10px;
  color: white;
  font-size: 15px;
  font-family: 'Montserrat', sans-serif;
  margin: 20px 150px 20px 80px;
}

h4 {
  font-size: 25px;
  font-family: 'Work Sans', sans-serif;
  color: white;
}

#projects i {
  font-size: 35px;
}

.project-item a {
  font-size: 15px;
  font-weight: bold;
  color: rgb(25, 117, 117);
}

.project-container {
  max-width: 1300px;
  margin: 0 auto;
  padding-top: 8px;
  gap: 2rem;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

img {
  width: 100%;
  height: 200px;
  border-radius: 50px;
}

.description {
  background-color: rgb(0, 0, 0, 0.8);
  /* background-color: rgb(251, 248, 248, 0.9); */
  border-radius: 50px;
  padding: 20px;
  color: white;
  font-size: 15px;
  font-family: 'Montserrat', sans-serif;
  font-weight: bolder;
}

/* @keyframes readme {
  from {
    color: black;
  }
  to {
    color: blue;
  }
} */

.readme:hover {
  color: white;
  transition-duration: 0.5s;
  font-size: 20px;
  /* animation-name: readme;
  animation-duration: 1s; */
}

#skills h4 {
  text-align: center;
  margin-bottom: 15px;
  font-size: 35px;
  font-family: 'Work Sans', sans-serif;
  color: white;
  /* text-decoration: underline; */
  /* text-underline-position: below; */
}

.tech-stack {
  max-width: 800px;
  text-align: center;
  margin: 0 auto;
  padding-top: 10px;
  padding-bottom: 10px;
  gap: 1rem;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
}

.tech-stack p {
  font-size: 18px;
  padding-left: 20px;
}

#contact-info {
  font-size: 30px;
  padding-top: 10px;
  color: white;
  text-align: center;
  font-family: 'Work Sans', sans-serif;
}

.contact {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 80px;
  margin-top: 50px;
}

.image-text-container {
  padding-top: 10px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  padding-bottom: 40px;
}

.icons i {
  display: flex;
  flex-direction: column;
  padding-left: 20px;
  padding-right: 10px;
  font-size: 20px;
  color: white;
}

.contact-details a {
  font-weight: bold;
  color: white;
}

.contact-link a:hover {
  color: black;
  font-size: 15px;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 4vh;
  color: rgb(229, 220, 220);
  font-weight: bold;
}

@media all and (max-device-width: 480px) {
  #aboutbox {
    display: flex;
    flex-direction: column;
    margin: auto;
  }
  #aboutbox img {
    height: 200px;
    width: 200px;
    border-radius: 50%;
  }
  #aboutbox p {
    margin: auto;
  }

  .project-container {
    max-width: 480px;
    grid-template-columns: 1fr;
    /* grid-template-rows: 1fr; */
    gap: 1rem;
  }
  .tech-stack {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

/* if screen is smaller than 899px, do this */
@media screen and (min-width: 481px) and (max-width: 899px) {
  body {
    background-position: left;
    /* border: none; */
  }
  #aboutbox {
    display: flex;
    flex-direction: column;
    margin: auto;
  }
  #aboutbox img {
    height: 200px;
    width: 200px;
    border-radius: 50%;
  }
  .project-container {
    grid-template-columns: 1fr 1fr;
  }
  .tech-stack {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
/* if screen is bigger than 900px, do this*/
@media screen and (min-width: 900px) and (max-width: 1280) {
  body {
    background-position: left;
  }
  .project-container {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
  #aboutbox {
    display: flex;
    flex-direction: row;
    max-width: 1400px;
    height: auto;
    margin-right: -15px;
    margin-left: -15px;
    margin-bottom: 100px;
  }

  #aboutbox img {
    padding: 40px 0px 40px 0px;
    margin: 40px 0px 20px 150px;
    height: 200px;
    width: auto;
    border-radius: 100%;
  }

  #aboutbox p {
    padding: 10px;
    color: white;
    font-size: 15px;
    font-family: 'Montserrat', sans-serif;
    margin: 20px 150px 20px 80px;
  }
}
