* {
  box-sizing: border-box;
  margin: 0;
}

body {
  background-image: url('../assets/cave.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: right;
  min-height: 100vh;
  max-width: 100vw;
  border: 10px solid black;
}

h1 {
  text-align: center;
  color: white;
  font-size: 50px;
  /* font-weight: bold; */
  margin-bottom: 5px;
  margin-top: 30px;
  margin-left: 75px;
  font-family: 'Poppins', sans-serif;
  padding-top: 60px;
}

h2 {
  /* text-align: center; */
  font-size: 30px;
  /* font-weight: bold; */
  margin-top: 5px;
  margin-left: 550px;
  color: rgb(25, 117, 117);
  /* color: black; */
  font-family: 'Work Sans', sans-serif;
}

.experiencebox ul {
  width: 500px;
  float: none;
  margin-left: 1rem;
  padding: 20px;
}

.experiencebox ul li {
  display: list-item;
  list-style-type: disc;
  line-height: normal;
  font-size: 14px;
  color: rgb(255, 253, 253);
  font-family: 'Montserrat', sans-serif;
}

li {
  display: inline-block;
  flex-direction: end;
  align-content: right;
  font-size: 17px;
  font-weight: bold;
  margin: auto;
  list-style: none;
}

ul {
  float: right;
  margin-top: 0px;
  margin-bottom: 0px;
}

a {
  text-decoration: none;
  color: black;
  font-family: 'Work Sans', sans-serif;
  padding-right: 15px;
}

i {
  font-size: 40px;
  padding-left: 25px;
  color: white;
}

h3 {
  font-size: 30px;
  margin-bottom: 2px;
  margin-left: 5px;
  font-weight: bold;
  color: white;
  font-family: 'Work Sans', sans-serif;
}

hr {
  width: 15%;
  height: 5px;
  margin-left: 5px;
}

#aboutbox p {
  /* background-color: white; */
  padding: 10px;
  /* border: 1px solid black; */
  color: white;
  font-size: 15px;
  font-family: 'Montserrat', sans-serif;
  margin: 20px 250px 20px 550px;
}

img {
  border-radius: 50px;
}

h4 {
  font-size: 25px;
  font-family: 'Work Sans', sans-serif;
  color: white;
}

.project-item a {
  font-size: 15px;
  font-weight: bold;
  color: black;
}

.project-container {
  max-width: 1300px;
  margin: 0 auto;
  padding-top: 8px;
  gap: 2rem;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

/* .project-item {
  border: 5px solid rgb(255, 255, 255, 0.4);
} */

img {
  width: 100%;
  height: 200px;
}

.description {
  /* font-weight: bold; */
  background-color: rgb(251, 248, 248, 0.5);
  border-radius: 50px;
  padding: 20px;
  color: black;
  font-size: 15px;
  font-family: 'Montserrat', sans-serif;
  font-weight: bolder;
}

#skills h4 {
  text-align: center;
  /* padding-right: 240px; */
  margin-bottom: 15px;
  font-size: 30px;
  font-family: 'Work Sans', sans-serif;
  color: white;
  /* text-decoration: underline; */
  /* text-underline-position: below; */
}

.tech-stack {
  max-width: 500px;
  margin: 0 auto;
  padding-top: 8px;
  padding-bottom: 10px;
  gap: 1rem;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
}

#contact-info {
  font-size: 30px;
  padding-top: 10px;
  color: white;
  text-align: center;
  font-family: 'Work Sans', sans-serif;
}

.contact {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 80px;
  margin-top: 50px;
}

.image-text-container {
  padding-top: 10px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  padding-bottom: 40px;
}

.icons i {
  display: flex;
  flex-direction: column;
  padding-left: 20px;
  padding-right: 10px;
  font-size: 20px;
  color: white;
}

.contact-details a {
  font-weight: bold;
  color: white;
}
